div#game-content(ng-controller="gameCtrl")
    div#game-view
        div.opponent-zone
            ul.deck
                li(ng-repeat="n in [] | range:opponent.deck")
            ul.hand
                li(ng-repeat='card in opponent.hand track by $index', cardItem, template="opponentCard", content="card")
            div.bin

        div#game-view-board
            div(ng-controller="boardCtrl")
               div.cell(ng-repeat='(cellId, cardId) in board track by $index', ng-switch on="cardId")
                    div.empty(ng-switch-when="null", drop="{{$index}}", drop-allowed="{{$parent.getBoardAllowed(cardId)}}", on-drop="dropAction(cardId, cellId)") {{cellId}}
                    div.card(ng-switch-default, cardItem, template="boardCard", content="cardId")

            ul#game-view-wooddeck
                li(ng-repeat="n in [] | range:woodenDeck")

        div.player-zone
            ul.deck
                li(ng-repeat="n in [] | range:player.deck")
            ul.hand(ng-controller="handCtrl")
                li(ng-repeat='card in playerHand', ng-class="{selected : card.id === selectedBuff}", cardItem, template="playerCard", content="card", on-cast="castSpell(cardId)", on-buff="selectBuff(cardId)", on-view="viewCard(cardId)")
            div(ng-controller="binCtrl", ng-switch on="binDrop")
                div.bin(ng-switch-when="true", drop="bin", drop-allowed="{{binAllowed}}", on-drop="dropAction(cardId)")
                div.bin(ng-switch-default)

    div#game-playerdata(class="p{{playerId}}", ng-class="{selected : turn == playerId}")
        div.portrait
        ul
            li(ng-repeat="mana in manaPool", class="color{{mana.type}}") {{mana.quantity}}
        span {{player.name}}
        strong {{player.score}}

    div#game-opponentdata(class="p{{opponentId}}")
        div.portrait
        ul
            li(ng-repeat="mana in manaPoolOp", class="color{{mana.type}}") {{mana.quantity}}
        span {{opponent.name}}
        strong {{opponent.score}}

    button#game-quit(ng-click="quitGame()") Quit