block app-head
    div#navbar
        div
            a.btn.btn-navbar(toggle="collapse",target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='/') Vikings
            div.nav-collapse.collapse(ng-controller="NavCtrl")
                ul
                    li(access-level='accessLevels.anon', active-nav='nestedTop')
                        a(href='/auth') Log in
                    li(access-level='accessLevels.user', active-nav='nestedTop')
                        a(href='/play') Play
                    li
                        a(href='/') Forum
                form(ng-controller="LoginCtrl", access-level='accessLevels.anon')
                    input(type="text", ng-model="username", placeholder="Username", name="username", required)
                    input(type="password", ng-model="password", placeholder="Password", name="password", required)
                    button(type="submit", ng-click="login()", ng-disabled="loginForm.$invalid") login
                div.logout(access-level='accessLevels.user')
                    span(ng-click='logout()') Logout