div#gameoverwin.popin
    h6 Winner
    div.content
        p Congrats! You've won!
        strong.cardHeader New card unlock
        img(src="/img/cards/{{cardId}}.png")
        button(ng-click="quit()") Return to lobby