.popin {
    position: fixed;
    left: calc(50% - 178px);
    top: calc(50% - 90px);
    width:356px;
    height:180px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    h6 {
        display:block;
        width: 100%;
        background-color: #333;
        font-size: 21px;
        line-height: 40px;
        color: #fff;
        text-indent: 10px;
    }
    .content {
        position: relative;
        padding: 20px;
        text-align:center;
        button {
            margin-top: 20px;
        }
    }
}

#gameoverwin {
    left: calc(50% - 178px);
    top: calc(50% - 115px);
    width:356px;
    height:230px;
    .content {
        padding-right: 140px;
        p {
            padding-top: 20px;
        }
        .cardHeader {
            position: absolute;
            right: 10px;
            z-index: 2;
            font-weight: bold;
            font-size: 16px;
            color: Orange;
            top: 10px;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
        }
        img {
            position: absolute;
            top: 30px;
            right:20px;
            width: 100px;
        }
        button {
            margin-top: 40px;
        }
    }
}

#viewcard {
    left: calc(50% - 150px);
    top: calc(50% - 225px);
    width:300px;
    height:450px;
    .close {
        position:absolute;
        top:-2px;
        right:-2px;
        display:block;
        height:32px;
        width:32px;
        border:1px solid #fff;
        @include border-radius(9px);
        @include background-image(linear-gradient(top, #f00, #900));
        @include box-shadow(#666 0px 0px 2px 0px);
        color:#fff;
        text-align:center;
        font-family:"Tahoma", Helvetica, sans-serif;
        line-height:1em;
        font-size:26px;
        cursor:pointer;
    }
}
